/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=IBM+Plex+Sans:wght@200;300;400;500&family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');

:root {
    --main-color: #02000D;
    --white-0: #FFFFFF;
    --marigold: #F2A52B;
    --grey: #d9d9d9;
    --grey-1: #ebebeb;
    --purple-0: #7A3CEA;
    --purple-1: #6347D9;
    --purple-2: #2E205F;
    --purple-3: #B4A6E6;
    --ebony-1: #A29FA9;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0;/* This will hide the scrollbar */
}

#dark-theme{
    background-color: var(--main-color);
}
/*NAVBAR*/

.navbar {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    width: 100vw;
    font-size: 16px;
    background-color: var(--main-color);
}

.navbar .nav-item.active .nav-link,
.navbar .nav-item .nav-link:active,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item:hover .nav-link {
    color: var(--purple-0);
    text-decoration: none;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    margin-right: 32px;
}

.navbar .nav-item a {
    color: var(--white-0);
    letter-spacing: 0.03em;
}

.navbar .dropdown-menu {
    background: var(--main-color);
    border: 1px solid rgba(180, 166, 230, 0.2);
    box-shadow: 0px 1px 4px 2px rgba(165, 149, 233, 0.2);
    border-radius: 5px;
    min-width: 7rem;
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: var(--purple-0);
    background: var(--main-color);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-toggle::after{
    display: none;
}

#try-now-btn {
    background: var(--main-color);
    text-decoration: none;
    color: var(--white-0);
    border: 1px solid var(--white-0);
    padding: 10px 20px;
    border-radius: 10px;
}

#try-now-btn:hover {
    color: var(--purple-0);
    border: 1px solid var(--purple-0);
}

/*LANDING PAGE */
.landing-container {
    padding-top: 150px;
    position: relative;
    letter-spacing: 0.03em;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.main-heading {
    font-size: 56px;
    margin-bottom: 30px;
    font-weight: 300;
}

.sub-heading {
    font-size: 20px;
    font-weight: 400;
}

.sub-heading strong{
    color: var(--marigold);
}

.video-container {
    height: 576px;
    width: 1024px;
    border: 1px solid #7A3CEA;
    border-radius: 20px;
    margin-top: 150px;
    background: var(--main-color);
}
.video-container video {
    width: 100%; 
    height: auto;
    border-radius: 20px;
}

.main-gradient {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.light-gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
}

.git-text{
    font-size: 30px;
    letter-spacing: 1.5px;
    line-height: 48px;
    font-family: 'IBM Plex Mono', sans-serif;

}

.fa-github{
    font-size: 90px;
    color: var(--white-0);
}

/* Vertical Tabs  */
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.vertical-tab {
    display: table;
    height: 500px;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    font-family: 'IBM Plex Mono', monospace;
}

.vertical-tab .nav-tabs {
    width: 320px;
    border: none;
    vertical-align: top;
    display: table-cell;

}

.vertical-tab .nav-tabs li {
    float: none;
    border-bottom: 1px solid var(--ebony-1);
    padding: 0 0 15px 10px;
    margin-bottom: 15px;
}

.vertical-tab .nav-tabs li:hover {
    cursor: pointer;
}

.vertical-tab .nav-tabs li a {
    color: var(--white-0);
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    border: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover {
    border: none;
}

.vertical-tab .nav-tabs li a.active,
.vertical-tab .nav-tabs li a:hover {
    color: var(--purple-0);
}

.vertical-tab .tab-content {
    color: #d3d3d3;
    font-size: 16px;
    border-left: 1px solid var(--ebony-1);
    display: table-cell;
    padding-left: 30px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 300;
    line-height: 28px;
}

.vertical-tab .tab-content h3 {
    color: var(--purple-0);
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans', monospace;
    letter-spacing: 1.6px;
}

.para-light{
    color: #c1c3c7;
    font-size: 16px;
    letter-spacing: 1.1px;
    font-weight: 200;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}

.para-light a{
    color: var(--purple-0);
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

/* Bottom Cards  */

.bottom-cards{
    color: var(--white-0);
    padding: 40px;
    border: 1px solid #ffffff37;
    border-radius: 5px;
    cursor: pointer;
    min-height: 250px;
}
.git-card{
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.community-card{
    border-radius: 0 5px 5px 0;
}
.bottom-cards .heading{
    font-size: 20px;
}

.fa-star , .fa-slack{
    font-size: 32px;
}

.git-card:hover, .community-card:hover{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(99, 71, 217, 0.05) 100%);
    cursor: pointer;
}

.git-card:hover .fa-star{
    color: var(--marigold);
}

.community-card:hover .fa-slack{
    display: none;
    color: #36C5EF;
}

.slack-icon{
    display: none;
}

.community-card:hover .slack-icon{
    display: block;
    height: 30px;
}

/*FOOTER SECTION */
#footer {
    margin-top: 90px;
    padding-top: 10px;
    background: var(--main-color);
    color: var(--ebony-1);
    font-weight: 200;
    position: relative;
}

#footer form input {
    border-bottom: 1px solid var(--ebony-1) !important;
}

::-webkit-input-placeholder {
    font-size: 14px !important;
}

#footer .footer-links a {
    color: var(--white-0);
    margin-right: 32px;
    font-weight: 200;
    letter-spacing: 0.03em;
}

#footer .footer-links a:hover {
    color: var(--purple-0);
    text-decoration: none;
}

.footer-nav-heading {
    color: var(--ebony-1) !important;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.credits{
    font-size: 14px;
    color: #d3d3d3;
}

.credits a{
    color: var(--purple-0);
}

.icon-container{
    border: 1px solid #C6B1DD;
    background: linear-gradient(180deg, rgba(154, 77, 237, 0.29) 0%, rgba(198, 177, 221, 0.15) 80.73%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-0);
    font-size: 18px;
}

/* Button  */
.btn {
    background-color: var(--purple-0);
    color: var(--white-0);
    letter-spacing: 0.03em;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--purple-0) !important;

}

.btn a {
    text-decoration: none !important;
    color: var(--white-0) !important;
}


/* Getting Started  */

.getting-started-container{
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 100px;
    position: relative;
}

.getting-started-container .light-gradient{
    width: 150%;
    top: 100%;
}

.code{
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: var(--white-0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px 40px;
    border-radius: 10px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    line-height:32px;
    margin: auto;
    margin-top: 40px;
    text-align: left;
}

.nav-tabs {
    display: block;
    border-bottom: 0;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 16px;
}

.nav-tabs .nav-item .nav-link {
    border: none;
    color: var(--white-0);
    letter-spacing: 0.03em;
    font-weight: 200;
    padding: 5px 20px;
    margin: 10px;
    cursor: pointer;
    font-family: 'IBM Plex Sans', monospace;
}


.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-radius: 30px;
    border: 1px solid #C6B1DD;
    position: relative;
    background: linear-gradient(180deg, rgba(154, 77, 237, 0.29) 0%, rgba(198, 177, 221, 0.15) 80.73%);
    font-weight: 400;
   
} 

.tab-content .para-bold{font-size: 16px !important;
line-height: 26px;}
.tab-content .para-bold a:hover ,.tab-content .para-bold a{
    color: var(--purple-1) !important;
}

/* SigLens Differentiator  */

.carousel-item div {
    width: 80%;
    margin: auto;
}

.carousel-item h3 {
    color: var(--purple-0);
    font-size: 32px;
    letter-spacing: 1.5px;
    line-height: 48px;
    font-family: 'IBM Plex Mono', sans-serif;
    margin-bottom: 20px;
}

.carousel-item p{
   color: #d3d3d3;
   font-size: 17px;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   letter-spacing: 1.2px;
   line-height: 27px;
}

.main-header{
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

/* Mobile View  */

@media (max-width: 767.98px) {
    /* navbar */
    #navbarSupportedContent {
        width: 100vw;
    }

    .navbar-nav {
        border: 1px solid rgba(180, 166, 230, 0.2);
        box-shadow: 0px 1px 4px 2px rgba(165, 149, 233, 0.2);
        border-radius: 10px;
    }

    .navbar-nav li {
        margin-right: 0;
        background: var(--main-color);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-toggler:active,.navbar-toggler:focus{
        outline: none;
    }

    .navbar-nav .nav-item {
        padding: 0;
    }

    .nav-item.dropdown>.dropdown-menu.show {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-item.dropdown>.dropdown-menu.show a {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-item.dropdown>.dropdown-menu {
        display: none;
    }

    /* landing page */
    .landing-container{
        overflow-x: clip;
    }

    .main-heading {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .sub-heading{
        font-size: 18px;
    }

    .main-gradient {
        width: 200%;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .video-container{
        width: 100%;
        margin-top: 100px;
        height: 184px;
    }

    .git-text{
        font-size: 20px;
        line-height: 38px;
    }

    .carousel-item h3 {
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 34px;
    }
    
    .carousel-item p{
       font-size: 16px;
       letter-spacing: 1px;
       line-height: 26px;
    }

    .code{
        width: 90%;
        padding: 20px;
    }

    .git-card,.community-card{
        border: 1px solid #ffffff37;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        min-height: auto;
    }

    #footer{
        margin-top: 60px;
        padding-top: 40px;
    }

    .vertical-tab{
        width: 95%;
        text-align: center;
        margin-top: 0px;
    }
    .vertical-tab .tab-content h3 {
        margin-bottom: 16px;
    }

    .vertical-tab .nav-tabs {
        display: none;
    }
    
    .vertical-tab .tab-content > .tab-pane {
        display: block ;
        opacity: 1 ;
        margin-top: 40px;
        padding-bottom: 20px;
    }

    .vertical-tab .tab-content {
        font-size: 16px;
        display: block;
        padding: 0;
        border: none;
    }
}
