.question-container{
    display: flex;
    flex-direction: column;
    padding: 70px 250px;
}
.ques-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    width: 80%;
    margin: auto;
    letter-spacing: 0.6px;
}
.ques-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-bottom: 1px solid #aba9a92d;
}
.ques-box:hover{
    background-color: rgba(255, 255, 255, 0.04);

}
.company-text,
.update-text,
.ques-intro{
    color: #bbb8b8;
}
.ques-intro{
    margin-top: 10px;
}
.ques-keywords-list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
}
.question-text{
    color: rgba(99, 71, 217, 1);
}
.keyword-box{
    border: 1px solid #C6B1DD;
    background: linear-gradient(180deg, rgba(154, 77, 237, 0.29) 0%, rgba(198, 177, 221, 0.15) 80.73%);
    margin-right: 15px;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}
.bottom-element{
    margin-top: 15px;
    font-size: 15px;
}
.question-item{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.light-gradient{
    top: 60%;
    opacity: 0.8;
}

/*Mobile Devices*/

@media (max-width: 767.98px) {
    .ques-box{
        width: 100%;
    }

    .question-item{
        font-size: 18px;
    }

    .bottom-element,.ques-intro{
        font-size: 14px;
    }
}