.link-info,
.container-guide{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.link-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.title-column,
.detailed-link-list,
.detailed-box,
.item-intro,
.detailed-list,
.right-block,
.title-list{
    display: flex;
    flex-direction: column;
    color: white;
}
.item-intro{
    margin-bottom: 30px;
}
.right-block{
    margin: auto;
    width: 70%;
}
.container-guide{
    letter-spacing: 1px;
    padding: 0 200px;
}
.title-list{
    width: 260px;
}
.title-name{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lato';
    letter-spacing: 1.2px;
}
.basic-intro{
    color: #d4d4d4;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 300;
    line-height: 28px;
}
.detailed-box{
    padding: 20px 0;
}
.detailed-item-title{
    /* margin-bottom: 20px; */
    margin-bottom: -10px;
}
.detailed-link-list{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}
.link-title{
    width: 350px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}
.fa-clock, .fa-chevron-right{
    color: rgba(220, 219, 223, 0.6);
    font-size: 14px;
    margin-right: 10px;
}
.fa-chevron-right{
    font-size: 14px;
    margin-left: 30px;
}
.description-img{
    width: 24px;
    height: 24px;
}
.link-tail{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-line{
    border: none;
}
.link-info:hover{
    background-color: rgba(99, 71, 217, 0.15);
    border-radius: 10px;
    cursor: pointer;
}
.time-spent{
    color: rgba(220, 219, 223, 0.6);
}
.navigate-title{
    color: rgba(220, 219, 223, 0.5);
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 14px;
    letter-spacing: 1.2px;
}
.title-item{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 10px;
    border-radius: 5px;
    width: 200px;
}
.title-item.active{
    color: rgb(154 120 234);
    background-color: rgba(99, 71, 217, 0.2);
}
.title-item:hover{
    cursor: pointer;
}

.light-gradient{
    top: 60%;
    opacity: 0.8;
}